{% extends 'base.html' %}

{% block title %} No.1 Recruitment Firm Singapore | Best Job Portal{% endblock %}

{% block content %}
    <div class="container-fluid callout-container">
        <h1>There will be a charge of $10 for the new posting</h1>
        <form method='GET' action='{% url 'donate' %}'>
            {% csrf_token %}
             <label>Advert Cost : $10</label>
            <input type='text' name='amount'/>
            <input type='submit' value=''/>
        </form>
    </div>
{% endblock %}
