{% extends 'base.html' %}

{% block title %} No.1 Recruitment Firm Singapore | Best Job Portal{% endblock %}

{% block content %}
    <!-- Callout -->
    <div class="container-fluid callout-container">
        <div class='row justify-content-around px-4'>
            <div class="col-12 col-md-5 jumbotron text-center">
                <h1 class="jumbotron-header">For Job Seekers</h1>
                <hr class="block-divider">
                <p class="lead">
                    Feeling Stagnant at work? <br/> Want to the next level?
                    <br/>
                    <hr/>
                    <a class="btn btn-warning" href="{% url 'show_listing' %}">Show me my next Opportunity</a>
                </p>
            </div>
            <div class="col-12 col-md-5 callout jumbotron text-center">
                <h1 class="jumbotron-header">For Companies</h1>
                <hr class="block-divider">
                <p class="lead">
                    Reach Millions of Candidates with Multi-Channel Job Posting <br/> Access to the right candidates!
                    <br/>
                    <hr/>
                    <a class="btn btn-warning" href="">Assign me for a Talent Hunter</a>
                </p>
            </div>
        </div>
    </div>
    <!-- /.callout -->
{% endblock %}
        

    

