{% extends 'base.html' %}

{% block title %} No.1 Recruitment Firm Singapore | Best Job Portal{% endblock %}

{% block content %}
    <!-- Callout -->
    <div class="container-fluid pt-3">
        <div class='row justify-content-around px-3'>
            <div class='col-3'>
                <div class='p-2'>
                    <h3><i>ENTER JOB DETAILS</i></h3>
                    <a class='mt-2 p-2 badge badge-warning' href="{% url 'show_listing' %}"> &lt &lt return</a>
                </div>
                <div class="mt-4 p-2">
                    <p>Click the following to make payment for the advert to go live</p>
                    <a class='p-2 badge badge-secondary' href="{% url 'charge' %}">Make Payment</a>
                </div>

            </div>
            <div class="col-5 jumbotron text-left">
                <form method='POST'>
                     {% csrf_token %}
                     {{ form.as_p }}
                     <input class='btn btn-secondary' type="submit">

                </form>
            </div>
        </div>
    </div>
    <!-- /.callout -->
{% endblock %}
        

    

