{% extends 'base.html' %}

{% block title %} No.1 Recruitment Firm Singapore | Best Job Portal{% endblock %}

{% block content %}
    <!-- Callout -->
    <div class="container-fluid callout-container">
        <div class='text-center'>
        <h2>You are about to remove the following Job listing</h2><br/>
        <h4> Company Name : {{job.company}} </h4>
        <h4> Position : {{ job.position}}</h4>
        <a class='p-2 badge badge-warning' href="{% url 'show_listing' %}"> &lt &lt return</a>
        <a class="p-2 badge badge-danger" href="../delete_job/{{ job.id }}">Proceed to remove listing</a>

        </div>
    </div>
    <!-- /.callout -->
{% endblock %}
        

    

