{% extends 'base.html' %}

{% block title %} No.1 Recruitment Firm Singapore | Best Job Portal{% endblock %}

{% block content %}
  <!-- Listing -->
  <main class='container-fluid'>
   
    <table class="table">
      <thead>
        <tr class='bg-light'>
          <th scope="col">Company</th>
          <th scope="col">Position</th>
          <th scope="col">Description</th>
          <th scope="col">Salary</th>
          <th scope="col" class='text-right'>
            <a class='p-2 badge badge-secondary' href="{% url 'add_listing' %}">Add New Job Posting</a>
          </th>
        </tr>
      </thead>
      
      <tbody>
      {% for d in data %}
      <tr>
        <td> {{ d.position }} </td>
        <td> {{ d.company }} </td>
        <td> {{ d.description }} </td>
        <td> {{ d.salary }}</td>
        <td class='text-right'>
          |<a class='text-secondary badge' href="">Apply </a> |
          <a class='text-secondary badge' href="edit_listing/{{d.id}}">Edit </a> |
          <a class='text-danger badge' href="confirm_delete/{{d.id}}">Delete </a> |
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </main>
  <!-- /listing -->
{% endblock %}
        

    

